body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0;
}

#navbar {
  border: 1px solid black;
}

#content {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5em;
}

#biobox {
  border: 1px solid black;
  height: 25em;
  width: 15em;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

#charityboard{
  border: 1px solid black;
  width: 40em;
  display: flex;
  flex-direction: column;
}

#right {
  width: 15em;
}
#charityBox {
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
}

#navbar {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: space-between;
}

#buttons {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 3em;
}